<p id="notice"><%= notice %></p>

<% if can? :update, Assignment %>
  <%= link_to 'New Assignment', new_assignment_path, style: "margin-bottom:20px;", class: 'btn btn-primary'  %>
<% end %>


      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pencil-square-o"> </i> Assignments
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>User</th>
                  <th>Homework</th>
                  <th>Assignment</th>
                  <th>Edit Homework</th>
                <% if can? :update, Assignment %>
                  <th>Edit Assignment</th>
                  <th >Delete Assignment</th>
                <% end %>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>User</th>
                  <th>Homework</th>
                  <th>Assignment</th>
                  <th>Edit Homework</th>
                <% if can? :update, Assignment %>
                  <th>Edit Assignment</th>
                  <th>Delete Assignment</th>
                <% end %>  
                </tr>
              </tfoot>
              <tbody>
                <% @assignments.each do |assignment| %>
                  <tr>
                    <td><%= assignment.id %></td>
                    <td><%= assignment.created_at.stamp("Sun Aug 5, 01") %></td>
                    <td><%= assignment.name %></td>
                    <td><%= assignment.user.name %></td>

                    <% if assignment.homework_id != nil %>
                      <td><%= link_to assignment.homework.name, assignment.homework.attachment_url %></td>
                    <% else %>
                      <td>
                      <%= link_to 'Upload Homework', new_homework_path(:assignment_id => assignment.id), class: 'btn btn-primary' %> 
                      </td> 
                    <% end %>  

                    <td><%= link_to "Download Assignment", assignment.attachment_url %></td>

                    <% if assignment.homework_id != nil %>
                      <td><%= link_to 'Edit Homework', edit_homework_path(assignment.homework, :assignment_id => assignment.id ) %></td>
                    <% else %>
                      <td>
                        <p style="color:red"> No Homework Uploaded </p>
                      </td> 
                    <% end %>  
                    <% if can? :update, Assignment %>
                      <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
                      <td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer small text-muted">
              <!-- <#% if @assignment.blank? %> -->
               <!-- none -->
              <!-- <#% else  %>   -->
                Last updated on <%= @last_updated.updated_at.stamp("Sun Aug 5, 01") %> at <%= @last_updated.updated_at.stamp("9:00 am") %> 
              <!-- <#% end %> -->
        </div>
      </div>
    </div>

    <script type="text/javascript">
      document.addEventListener("turbolinks:load", function() {
        my_func();
      })
    </script>

<!--     <script type="text/javascript">
      $(document).ready(function() {
        $('#dataTable').DataTable();   
      });
    </script> -->

