<div class="container">
  <div class="col align-self-center">
    <div class="row">
      <div class="card card-login mx-auto mt-5">
        <div class="card-body align-middle">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="field form-group">
              <%= f.label :username %><br>
              <%= f.text_field :username, class: 'form-control' %>
            </div>

            <div class="field form-group">
              <%= f.label :age %><br>
              <%= f.text_field :age, class: 'form-control' %>
            </div>

            <div class="field form-group">
              <%= f.label :instrument_id %><br>
              <%= f.select :instrument_id, @instruments.collect { |c| [ c.name, c.id ] }, class: 'btn btn-secondary dropdown-toggle', type: 'button' %>
            </div>

            <div class="field form-group">
              <b>Change Password</b>
              <br>
              <i>(Leave blank if you don't want to change it)</i>

              <%#= f.label :password %> <br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field form-group">
              <b>Password Confirmation</b>
              <br>
              <i>(Re-enter New Password</i>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
            <br>
            <hr>
            <br>

            <div class="field form-group">
              <b>Re-Enter Password To Confirm Changes</b>
              <br>
              <i style="color:red">Required</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
    
              
<div class="container">
  <div class="col align-self-center">
    <div class="row">
      <div class="card card-login mx-auto mt-5">
          <h3>Cancel my account</h3>
          <div class="field form-group">
            <p class="text-center">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger align-middle' %></p>
          </div>  

          <%= link_to "Back", :back %>
      </div>
    </div>
  </div>    
</div>
