<body class="bg-dark">
	<div class="container">
    <div class="col align-self-center">
      <div class="row">  
        <div class="card card-login mx-auto mt-5">
          <div class="card-header align-middle">BJ's Music Hub</div>
          <div class="card-body align-middle">
						<h4>Forgot your password?</h4>

						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
						  <p>
						  	<%= devise_error_messages! %>
						  </p>

						  <div class="field">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autofocus: true %>
						  </div>

						  <br>	

						  <div class="actions">
						    <%= f.submit "Reset Password Via Email", class: 'btn btn-primary' %>
						  </div>
						<% end %>

						<br>

						<%= render "devise/shared/links" %>
					</div>	
				</div>	
			</div>
		</div>
	</div>			
</body>	