<p id="notice"><%= notice %></p>

<h1>Transcriptions</h1>

<% if can? :update, Transcription %>
  <%= link_to 'New Transcription', new_transcription_path, style: "margin-bottom:20px;", class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="well">
      <% @transcriptions.each do |transcription| %>
        <div class="col-md-4">
          <div class="offset-md-2">
            
            <p><%= image_tag transcription.attachment.url, style: 'width: 20%', class: 'img-thumbnail'  %></p>
            <h3><%= link_to transcription.name %></h3>
            <td><%= link_to "Download Resource", transcription.attachment_url %>
                       
          </div>
        </div>
      <% end %>
    </div> 
  </div>  
</div>
