<p id="notice"><%= notice %></p>
<h1> <%#=current_user.instrument.name %> Resources</h1>

<% if can? :update, Assignment %>
	<%= link_to 'New Resource', new_resource_path, style: "margin-bottom:20px;", class: 'btn btn-primary' %>
<% end %>

<div class="container">
	<div class="row">
		<div class="well">
			<% @resources.each do |resource| %>
			  <div class="col-md-4">
			    <div class="offset-md-2">
						
			        <p><%= image_tag resource.attachment.url, style: 'width: 20%', class: 'img-thumbnail'  %></p>
			        <h3><%= link_to resource.name %></h3>
			        <td><%= link_to "Download Resource", resource.attachment_url %>
			                 
			    </div>
			  </div>
		  <% end  %>
		</div> 
	</div>	
</div>

